head
    title IASA
    meta(name="viewport" content="width=device-width, initial-scale=1 user-scalable=no")

body
    +navBar
    if currentUser
            +studentList

template(name="navBar")
    div(role="navigation").navbar.navbar-default
        .container-fluid
            .navbar-header
                button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand(href='/') iasa-management-tool
            .collapse.navbar-collapse
                ul.nav.navbar-nav.navbar-right
                    +loginMenu(align="right")