template(name="loginMenu")
    if currentUser
        li.dropdown
            a(href data-toggle="dropdown").dropdown-toggle
                = email
                span.caret
            ul.dropdown-menu
                li
                    a(href="" data-action="logout") Logout
    else
        if loggingIn
            li.active
                a(href) Logging In...
        else
            if isLoginServicesConfigured
                li.dropdown
                    a(href data-toggle="dropdown").dropdown-toggle Log In
                        span.caret
                    ul.dropdown-menu(style="padding: 2px").jumbotron
                        form(id="login-form" action="action")
                            li
                                .form-group
                                    label(for="login-email") Email Address:
                                    input(type="email" id="login-email").form-control
                            li
                                .form-group
                                    label(for="login-password") Password:
                                    input(type="password" id="login-password").form-control
                            li
                                input(type="submit" id="login-button" value="Sign in").btn.btn-primary
                            if loginFailed
                                li
                                    p Login failed!

