template(name="permit")
    .panel.panel-primary
        .panel-heading.text-right(data-toggle="collapse" data-target="#permit-form") אישור יציאה

        .panel-body(id="permit-form").collapse
            form.new-permit.pull-right
                .form-group.row
                    .col-xs-8
                        input.form-control(type="text" name="lname" id="lname")
                    label(for="lname").col-xs-2.col-form-label שם
                .form-group.row
                    +geoInput
                button.btn.btn-primary(type="submit")
                    | אישור